
{% extends '_base.html' %}

{% block imports %}
	<!-- Import Simpla elements -->
	<link rel="import" href="/bower_components/simpla-collection/simpla-collection.html">
	<link rel="import" href="/bower_components/simpla-paths/simpla-paths.html">
	<link rel="import" href="/bower_components/simpla-text/simpla-text.html">
	<link rel="import" href="/bower_components/simpla-link/simpla-link.html">
	<link rel="import" href="/bower_components/simpla-img/simpla-img.html">
	<link rel="import" href="/bower_components/simpla-admin/simpla-admin.html" async>
{% endblock %}

{% block styles %}
{% endblock %}

{% block view %}

<!-- Block of editable richtext wrapped in an editable link -->
<div sid="severe">
	<div sid="textlink"><simpla-link sid="href"><simpla-text sid="label">Default Text?</simpla-text></simpla-link></div>
	<!-- Animated radar images -->
	<simpla-collection sid="radar" as="image">
		<template>
			<!-- An editable image -->
			<img is="simpla-img" path="/radar/[image]/img">
		</template>
	</simpla-collection>
</div>

{% endblock %}
